
  .logo-img{
      width: 90%;
     padding-top: 3%;
     padding-left: 8%;
   
      
  }
  .hero{
      text-align: center;
  }
  h1{
      font-size: 7rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      animation-duration: 3s;
    animation-name: bounceIn ;
  }

  .container{
      display: flex;
      justify-content: space-between;
      padding-top: 5%;
      @media @phone{
        flex-direction: column;
        align-items: center;
      }
      
}
ul{
    list-style-type: circle;
  }
  

.cover{
    padding: 0 15%;
    
    
}
.cardone{
    // padding: right 5%;
    background-color:white;
    margin-right: 10%;
    border: @wild solid 4px;
    padding: 3%;
    @media @phone{
        padding: 10%;
        margin-bottom: 2%;
        margin-left: 8%;
    }
    
   
}
.strain{
    background-color:white;
    margin-right: 10%;
    border:@wild solid 4px;
    padding: 4%;
    @media @phone{
       margin-top: 3%;
       margin-bottom: 3%;
       width: 82%;
       margin-left: 7%;
      }


    
}
.daily{
    background-color:white;
    // margin-right: 10%;
    border:@wild solid 4px;
    padding: 4%;
    @media @phone{
        margin-top: 3%;
        margin-bottom: 3%;
        width: 82%;
        margin-right: 4%;
       }
    
}
ul{
    font-size: 2.0rem;
    padding-top: 15%;
}
p{
    padding-top: 10%;
}
button{
  font-size: 1.5rem;
//   margin-left: 16%;
//   margin-top: 1.3;
}
.strain{
    padding-right: 7%;
}
.team{
    text-align: center;
    h1{
        padding-top: 3%;
    }
}

.projectman{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .thom{
              
               border:6px solid @wild;
           }
}

.backend{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .gus{
            
            border:6px solid @wild;
        }
}
.UI{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .me{
           
            border:6px solid @wild;
        }
}
.front-end{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .ben{
          
            border:6px solid @wild;
        }
}

.first{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .kim{
           
            border:6px solid @wild;
        }
}
.second{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .doina{
           
            border:6px solid @wild;
        }
}
.third{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .gagan{
           
            border:6px solid @wild;
        }
}
.fourth{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .mehdi{
         
            border:6px solid @wild;
        }
}
.fifth{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-top: 3%;
           .ivana{
           
            border:6px solid @wild;
        }
           
}

.big-icon{
   font-size: 32px;
}
